@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  /* background-color: lightsteelblue; */
  /* background-image: url(https://wallpapercave.com/wp/wp9382633.jpg);
  background-repeat: no-repeat; */

  background-image: url("./data/image/evo_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  background-color: #21252b;
  margin: 0;
  height: 55px;
  color: white;
  font-size: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

p:only-of-type:hover {
  color: #f1356d;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
