@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  background-color: rgba(24, 22, 22, 0.475);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
